<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/editor.css">
  </head>
  <body>
    <% include ./common/layout/menu %>
    <h1><%=post.title%></h1>
    <div class="ck ck-content ck-editor__editable ck-rounded-corners ck-blurred ck-editor__editable_inline">
      <%- post.content%>
    </div>
    <div class="">
      <% for ( let tag of post.tags ) { %>
        <a href="/blog/post/tag/<%=tag%>">
          <span><%=tag%></span>
        </a>
      <% } %>
    </div>
    <div class="">
      <ul>
        <% for ( let file of post.files ) { %>
          <li>
            <a href="/static/uploadFiles/<%=file%>">
              <%= file %>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="">
      <a href="/blog/modify/<%=post._id%>">수정</a>&nbsp;
      <a href="/blog/delete/<%=post._id%>">삭제</a>
    </div>
  </body>
</html>
